name: Dependent Jobs Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build Job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Build application
        run: |
          echo "Building application..."
          sleep 5


  test:
    name: Test Job
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Run tests
        run: |
          echo "Running tests..."
          sleep 5


  deploy:
    name: Deploy Job
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Deploy application
        run: |
          echo "Deploying application..."
          sleep 5
